{% extends 'theme/layout.html' %}
{% load static %}
{% load humanize %}

{% block title %} Property Listings {% endblock %}

{% block WebContent %}
    {% include 'theme/content/header.html' %}
    <div class="properties-area recent-property" style="background-color: #FFF;">
        <div class="container">
            <div class="row  pr0 padding-top-40 properties-page">
                <div class="col-md-12 padding-bottom-40 large-search">
                    <div class="search-form wow pulse animated" style="visibility: visible; animation-name: pulse;">

                        <div class="col-md-12 large-search">
                            <div class="center text-center">
                                <h2>Property Search
                                </h2>
                            </div>
                            <div class="search-form wow pulse animated"
                                 style="visibility: visible; animation-name: pulse;">
                                <form action="{% url 'property_list_searching' %}" class=" form-inline">

                                    <div class="col-md-12 clear">
                                        <div class="search-row">
                                            <div class="form-row">
                                                <div class="col-md-4 mb-3">
                                                    <label class="sr-only">Keywords</label>
                                                    <input type="text" name="keywords" class="form-control"
                                                           placeholder="Keyword (Pool, Garage, etc)">
                                                </div>

                                                <div class="col-md-4 mb-3">
                                                    <label class="sr-only">City</label>
                                                    <input type="text" name="city" class="form-control"
                                                           placeholder="City">
                                                </div>

                                                <div class="col-md-4 mb-3">
                                                    <label class="sr-only">State</label>
                                                    <select name="state" class="form-control">
                                                        <option selected="true" disabled="disabled">State (All)</option>
                                                        {% for key,value in content.context.state_choices.items %}
                                                            <option value="{{ key }}">{{ value }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Form Row 2 -->
                                    <div class="col-md-12 clear">
                                        <div class="search-row">
                                            <div class="form-row">
                                                <div class="col-md-6 mb-3">
                                                    <label class="sr-only">Bedrooms</label>
                                                    <select name="bedrooms" class="form-control">
                                                        <option selected="true" disabled="disabled">Bedrooms (All)
                                                        </option>
                                                        {% for key,value in content.context.bedroom_choices.items %}
                                                            <option value="{{ key }}">{{ value }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <select name="price" class="form-control" id="type">
                                                        <option selected="true" disabled="disabled">Max Price (Any)
                                                        </option>
                                                        {% for key,value in content.context.price_choices.items %}
                                                            <option value="{{ key }}">{{ value }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 clear">
                                        <div class="search-row">
                                            <div class="form-row">
                                                <div class="center">
                                                    <button type="submit" value=""
                                                            class="navbar-btn nav-button wow bounceInRight login animated">
                                                        Submit form
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% if content.context.listings %}
                    <div class="col-md-12 clear ">
                        <div id="list-type" class="proerty-th">
                            {% for listing in content.context.listings %}
                                <div class="col-sm-6 col-md-3 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="property-1.html"><img src="{{ listing.photo_main.url }}"
                                                                           alt="{{ listing.title }}"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="property-1.html"> {{ listing.title }} </a></h5>
                                            <div class="dot-hr"></div>
                                            <span class="pull-left"><b> Area :</b> Sqft: {{ listing.sqft }} </span>
                                            <span class="proerty-price pull-right"><span
                                                    class="badge badge-secondary text-white"> PKR {{ listing.price | intcomma }}</span></span>
                                            <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla
                                                quis
                                                dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                            <div class="property-icon">
                                                <img src="{% static 'assets/img/icon/bed.png' %}"
                                                     alt="Bedrooms">{{ listing.bedrooms }}|
                                                <img src="{% static 'assets/img/icon/shawer.png' %}"
                                                     alt="bathroom">{{ listing.bedrooms }}|
                                                <img src="{% static 'assets/img/icon/cars.png' %}"
                                                     alt="Garage">{{ listing.garage }}
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="col-md-12 clear">
                        <div class="pull-right">
                            {% if content.context.listings.has_other_pages %}
                                <ul class="pagination">
                                    {% if content.context.listings.has_previous %}
                                        <li class="page-item">
                                            <a href="?page={{ content.context.listings.previous_page_number }}"
                                            >&laquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link">&laquo;</a>
                                        </li>
                                    {% endif %}
                                    {% for i in content.context.listings.paginator.page_range %}
                                        {% if content.context.listings.number == i %}
                                            <li class="page-item active">
                                                <a>{{ i }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if content.context.listings.has_next %}
                                        <li class="page-item">
                                            <a href="?page={{ content.context.listings.next_page_number }}"
                                               class="page-link">&raquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a>&raquo;</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <p>No House Listings Available</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block JavascriptLink %}
    <script src="{% static 'assets/js/main.js' %}"></script>

{% endblock %}
