{% extends 'theme/layout.html' %}
{% load static %}
{% block title %} Company Details {% endblock %}
{% block WebContent %}
    {% include 'theme/content/header.html' %}
    <div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
        <div class="container">
            <div class="row">
                <div class="blog-lst col-md-12 pl0">
                    <section class="post">
                        <div class="text-center padding-b-50">
                            <h2 class="wow fadeInLeft animated animated"
                                style="visibility: visible; animation-name: fadeInLeft;">We are the best real estate
                                company in Pakistan
                            </h2>
                            <div class="title-line wow fadeInRight animated animated"
                                 style="visibility: visible; animation-name: fadeInRight;"></div>
                        </div>
                        <p class="intro">Why? Because we strive endlessly to achieve perfection in everything we do. We
                            promise to elevate your business to new heights and ensure you get your desired results.</p>
                        <p>

                            Our loyal clients are always thrilled with the radical and innovative concepts that we offer
                            them. We are not only masters of PR, event management, and advertisement creation but also
                            happen to be experts in web design and other such services.
                        </p>
                        <p>
                            There is no client too big or too small for us! We work with everyone, from the smallest
                            apartment complex owner to the biggest builders & developers in the industry, because our
                            work is not only about money. It's about passion! We are here to bring your business closer
                            to your customers. We have a range of ideas that can be implemented according to your budget
                            and desired scale -- from simple, yet effective print media advertisements to elaborate,
                            high-tech web designs.
                        </p>
                        <p>

                            We aim to make real estate marketing simple and profitable. Our tried-and-tested strategies
                            drive consistent growth and profits for our esteemed clients. Our marketing mix masterfully
                            blends traditional advertising (print media, billboard ads, TV commercials, PR) with digital
                            marketing channels (social media marketing, website development, SEO, Facebook ads) to
                            ensure optimal results for each campaign. Our state-of-the-art Customer Relationship
                            Management (CRM) Software enables us to carefully track and record every aspect of your
                            campaign, so you never have to worry about us keeping you in the dark.</p>
                    </section>
                    <div class="row">
                        <div class="blog-lst col-md-5 p0">
                            <div class="image wow fadeInRight animated animated"
                                 style="visibility: visible; animation-name: fadeInRight;">
                                <img src="{% static 'assets/img/core-principles.jpg' %}" class="img-responsive"
                                     alt="Example blog post alt">
                            </div>
                        </div>

                        <div class="blog-asside-right col-md-7">
                            <div class="panel panel-default sidebar-menu wow fadeInRight animated animated"
                                 style="visibility: visible; animation-name: fadeInRight;">
                                <div style="display: table; height: 400px; overflow: hidden;">
                                    <div style="display: table-cell; vertical-align: middle;">
                                        <div class="panel-heading">
                                            <h3 class="panel-title text-center">Our Core Principles & Values</h3>
                                        </div>
                                        <div class="panel-body text-widget">
                                            <p>Our core principles include honesty, openness, and transparency, which is
                                                why we
                                                have grown to become one of Pakistan’s most trusted brands. We value
                                                hard work,
                                                innovation, and leadership above all else, which is why our employees
                                                are always
                                                in high demand.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="blog-asside-right col-md-7">
                            <div class="panel panel-default sidebar-menu wow fadeInRight animated animated"
                                 style="visibility: visible; animation-name: fadeInRight;">
                                <div style="display: table; height: 400px; overflow: hidden;">
                                    <div style="display: table-cell; vertical-align: middle;">
                                        <div class="panel-heading">
                                            <h3 class="panel-title text-center">Our Mission</h3>
                                        </div>
                                        <div class="panel-body text-widget">
                                            <p>Our mission is to build a healthy relationship between you and your
                                                target audience by creating a platform for people to be able to come
                                                together. We provide you with the tools that you need to turn your
                                                targeted audience into a loyal customer base. With our deep
                                                understanding of today's marketing techniques, we can help you achieve
                                                results that will benefit all parties involved.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blog-lst col-md-5 p0">
                            <div class="image wow fadeInRight animated animated"
                                 style="visibility: visible; animation-name: fadeInRight;">
                                <img src="{% static 'assets/img/our-mission.jpg' %}" class="img-responsive"
                                     alt="Example blog post alt">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="blog-lst col-md-5 p0">
                            <div class="image wow fadeInRight animated animated"
                                 style="visibility: visible; animation-name: fadeInRight;">
                                <img src="{% static 'assets/img/Communicating.jpg' %}" class="img-responsive"
                                     alt="Example blog post alt">
                            </div>
                        </div>

                        <div class="blog-asside-right col-md-7">
                            <div class="panel panel-default sidebar-menu wow fadeInRight animated animated"
                                 style="visibility: visible; animation-name: fadeInRight;">
                                <div style="display: table; height: 400px; overflow: hidden;">
                                    <div style="display: table-cell; vertical-align: middle;">
                                        <div class="panel-heading">
                                            <h3 class="panel-title text-center">Communicating Value</h3>
                                        </div>
                                        <div class="panel-body text-widget">
                                            <p>We aim to communicate value by showcasing properties precisely and
                                                accurately. We bring out the style, personality, charm, and character of
                                                each property to make it more appealing for prospective buyers. Our
                                                ultimate aim is to not only sell your project but also highlight its
                                                features in the best possible way. Visit our projects page to see a
                                                glimpse of what we can achieve!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="blog-asside-right col-md-7">
                            <div class="panel panel-default sidebar-menu wow fadeInRight animated animated"
                                 style="visibility: visible; animation-name: fadeInRight;">
                                <div style="display: table; height: 400px; overflow: hidden;">
                                    <div style="display: table-cell; vertical-align: middle;">
                                        <div class="panel-heading">
                                            <h3 class="panel-title text-center">Improving Search Engine Visibility
                                            </h3>
                                        </div>
                                        <div class="panel-body text-widget">
                                            <p>We are known for our unique marketing techniques that have proven
                                                successful in selling properties faster by featuring them heavily on
                                                search engines. We know which keywords should be emphasized to rank
                                                higher on search engine results. In fact, you can Google any of our
                                                on-going projects and you’ll find us on the first page!!


                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blog-lst col-md-5 p0">
                            <div class="image wow fadeInRight animated animated"
                                 style="visibility: visible; animation-name: fadeInRight;">
                                <img src="{% static 'assets/img/seo.jpg' %}" class="img-responsive"
                                     alt="Example blog post alt">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="blog-lst col-md-5 p0">
                            <div class="image wow fadeInRight animated animated"
                                 style="visibility: visible; animation-name: fadeInRight;">
                                <img src="{% static 'assets/img/multiple-channels.jpg' %}" class="img-responsive"
                                     alt="Example blog post alt">
                            </div>
                        </div>

                        <div class="blog-asside-right col-md-7">
                            <div class="panel panel-default sidebar-menu wow fadeInRight animated animated"
                                 style="visibility: visible; animation-name: fadeInRight;">
                                <div style="display: table; height: 400px; overflow: hidden;">
                                    <div style="display: table-cell; vertical-align: middle;">
                                        <div class="panel-heading">
                                            <h3 class="panel-title text-center">Leveraging Multiple Channels
                                            </h3>
                                        </div>
                                        <div class="panel-body text-widget">
                                            <p>We use all possible social media platforms, including Facebook,
                                                Instagram, YouTube, and Twitter to spread the word about your property.
                                                The more people who see your property online, the better. You can check
                                                out our handles if you scroll to the bottom of the page!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="blog-asside-right col-md-7">
                            <div class="panel panel-default sidebar-menu wow fadeInRight animated animated"
                                 style="visibility: visible; animation-name: fadeInRight;">
                                <div style="display: table; height: 400px; overflow: hidden;">
                                    <div style="display: table-cell; vertical-align: middle;">
                                        <div class="panel-heading">
                                            <h3 class="panel-title text-center">Creating Long-Lasting Relationships

                                            </h3>
                                        </div>
                                        <div class="panel-body text-widget">
                                            <p>Our team aims to provide you with a healthy return on investment by
                                                increasing your brand awareness, attracting the right audience, and
                                                helping you to retain them for a prolonged period of time. All of our
                                                marketing strategies employ high-quality content that is not only
                                                authentic but also engaging and consistent.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blog-lst col-md-5 p0">
                            <div class="image wow fadeInRight animated animated"
                                 style="visibility: visible; animation-name: fadeInRight;">
                                <img src="{% static 'assets/img/relationships.jpg' %}" class="img-responsive"
                                     alt="Example blog post alt">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="blog-lst col-md-5 p0">
                            <div class="image wow fadeInRight animated animated"
                                 style="visibility: visible; animation-name: fadeInRight;">
                                <img src="{% static 'assets/img/above-and-beyond.jpg' %}" class="img-responsive"
                                     alt="Example blog post alt">
                            </div>
                        </div>

                        <div class="blog-asside-right col-md-7">
                            <div class="panel panel-default sidebar-menu wow fadeInRight animated animated"
                                 style="visibility: visible; animation-name: fadeInRight;">
                                <div style="display: table; height: 400px; overflow: hidden;">
                                    <div style="display: table-cell; vertical-align: middle;">
                                        <div class="panel-heading">
                                            <h3 class="panel-title text-center">We’ll Go Above and Beyond for You!

                                            </h3>
                                        </div>
                                        <div class="panel-body text-widget">
                                            <p>You can count on us for just about anything when it comes to real estate
                                                marketing. Our offerings go way beyond photography, video production,
                                                and website development. We also provide consultations, workshops, and
                                                multimedia presentations for your convenience.
                                            </p>
                                            <p>

                                                No matter what your requirements are, our team is ready to help you out.
                                                For more information about our services and how we can benefit you,
                                                don't hesitate to contact us at www.lacasapk.com or call us
                                                on {{ content.about_us.phone_number }}.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}