{% extends 'theme/layout.html' %}
{% load static %}
{% block title %} The Best Real Estate & Land Consultant {% endblock %}
{% block StyleLink %}
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick-theme.css' %}">

{% endblock %}
{% block WebContent %}


    <!-- End of nav bar -->
    {% include 'pages/home/content/slider.html' %}
    {% include 'pages/home/content/feature_projects.html' %}

    {% include 'pages/home/content/welcome_area.html' %}

    {% include 'pages/home/content/assistance.html' %}

    {% include 'pages/home/content/area.html' %}

    {% include 'pages/home/content/boy_area.html' %}




{% endblock %}
{% block JavascriptLink %}
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/load_slick.js' %}"></script>


{% endblock %}