{% load static %}
<!-- property area -->
<div class="content-area home-area-1 recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">

    <div class="container">

        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                <h2>FEATURED PROPERTIES</h2>
            </div>
        </div>

        <div class="row">
            <div class="my-slick-list proerty-th">
                {% for item in content.listing %}
                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="{% url 'house_details' slug=item.slug %}"><img src="{{ item.photo_main.url }}" alt="{{ item.title }}"></a>
                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="{% url 'house_details' slug=item.slug %}">{{ item.title }} </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Area :</b> {{ item.sqft }} ft</span>
                                <span class="proerty-price pull-right">PKR {{ item.price }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
