{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LA CASA | {% block title %}{% endblock %} </title>

    <meta name="description" content="GARO is a real-estate template">
    <meta name="author" content="Kimarotec">
    <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- All supported favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'assets/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'assets/favicons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="La Casa - Consultant">
    <meta name="application-name" content="La Casa - Consultant">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="{% static 'assets/favicons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontello.css' %}">
    <link href="{% static 'assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet">
    <link href="{% static 'assets/fonts/icon-7-stroke/css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/img/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/icheck.min_all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/price-range.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/OverlayScrollbars.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% block StyleLink %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

</head>
<body>

<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<!-- Body content -->
{% include 'theme/content/navbar.html' %}




{% block WebContent %}

{% endblock %}

{% include 'theme/content/footer.html' %}

<script src="{% static 'assets/js/modernizr-2.6.2.min.js' %}"></script>

<script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'assets/img/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-hover-dropdown.js' %}"></script>

<script src="{% static 'assets/js/easypiechart.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>

<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/wow.js' %}"></script>
<script src="//code.tidio.co/lrcvthozasjghqlzk2auiwmzxlt6lfza.js" async></script>
<script src="{% static 'assets/js/icheck.min.js' %}"></script>
<script src="{% static 'assets/js/price-range.js' %}"></script>
<script src="{% static 'assets/js/OverlayScrollbars.min.js' %}"></script>
<script>
    $(window).load(function () { // makes sure the whole site is loaded
        $('#status').fadeOut(); // will first fade out the loading animation
        $('#preloader').delay(0).fadeOut('slow'); // will fade out the white DIV that covers the website.
        $('body').delay(0).css({'overflow': 'visible'});


    })
    $(document).ready(function () {
        $("body").overlayScrollbars({
            overflowBehavior: {
                y: "scroll",
                x: "none"
            }
        });
    });
</script>

{% block JavascriptLink %}

{% endblock %}
</body>
</html>