{% load static %}
<ul>
    <li><a title="Share this on dribbble " href="#"><img
            src="{% static 'assets/img/social_big/dribbble_grey.png' %}"></a>
    </li>
    <li><a title="Share this on facebok " href="#"><img
            src="{% static 'assets/img/social_big/facebook_grey.png' %}"></a>
    </li>
    <li><a title="Share this on delicious " href="#"><img
            src="{% static 'assets/img/social_big/delicious_grey.png' %}"></a>
    </li>
    <li><a title="Share this on tumblr " href="#"><img
            src="{% static 'assets/img/social_big/tumblr_grey.png' %}"></a>
    </li>
    <li><a title="Share this on digg " href="#"><img
            src="{% static 'assets/img/social_big/digg_grey.png' %}"></a>
    </li>
    <li><a title="Share this on twitter " href="#"><img
            src="{% static 'assets/img/social_big/twitter_grey.png' %}"></a>
    </li>
    <li><a title="Share this on linkedin " href="#"><img
            src="{% static 'assets/img/social_big/linkedin_grey.png' %}"></a>
    </li>
</ul>