{% extends 'theme/layout.html' %}
{% block title %} Contact Us {% endblock %}
{% block WebContent %}
    {% include 'theme/content/header.html' %}
    <div class="content-area recent-property padding-top-40">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                {% include 'pages/contact/content/form.html' %}
                <br>
                <hr>
                {% include 'pages/contact/content/other_information.html' %}
            </div>

        </div>
    </div>
{% endblock %}