{% load static %}
{% load beautify %}
<!-- Footer area-->
<div class="footer-area">

    <div class=" footer">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6">
                    <div class="single-footer">
                        <h4>About us </h4>
                        <div class="footer-title-line"></div>

                        <img src="{% static 'assets/img/logo.png' %}" alt="">
                        <p>La casa is the industry leader when it comes to real estate marketing and property
                            dealer.</p>
                        <ul class="footer-adress">
                            {% if content.about_us.show_office_address %}
                                <li><i class="pe-7s-map-marker strong"> </i> {{ content.about_us.office_address }}</li>
                            {% endif %}
                            {% if content.about_us.show_email_address %}
                                <li><a href="mailto:{{ content.about_us.email_address }}"><i
                                        class="pe-7s-mail strong"></i> {{ content.about_us.email_address }}</a></li>
                            {% endif %}

                            {% if content.about_us.show_phone_number %}

                                <li><i class="pe-7s-call strong"> </i> <a
                                        href="https://api.whatsapp.com/send/?phone={{ content.about_us.phone_number }}&text&app_absent=0">
                                    {{ content.about_us.phone_number | beautify_phone_number }}
                                </a></li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer">
                        <h4>Quick links </h4>
                        <div class="footer-title-line"></div>
                        <ul class="footer-menu">
                            <li><a href="properties.html">Properties</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="submit-property.html">Submit property </a></li>
                            <li><a href="{% url 'contact_us' %}">Contact us</a></li>
                            <li><a href="{% url 'privacy_policy' %}">Privacy Policy </a></li>

                            <li><a href="{% url 'terms_and_conditions' %}">Terms and Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer">
                        <h4>Last News</h4>
                        <div class="footer-title-line"></div>
                        <ul class="footer-blog">
                            <li>
                                <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                    <a href="single.html">
                                        <img src="{% static 'assets/img/demo/small-proerty-2.jpg' %}">
                                    </a>
                                    <span class="blg-date">12-12-2016</span>

                                </div>
                                <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                    <h6><a href="single.html">Add news functions </a></h6>
                                    <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla
                                        ...</p>
                                </div>
                            </li>

                            <li>
                                <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                    <a href="single.html">
                                        <img src="{% static 'assets/img/demo/small-proerty-2.jpg' %}">
                                    </a>
                                    <span class="blg-date">12-12-2016</span>

                                </div>
                                <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                    <h6><a href="single.html">Add news functions </a></h6>
                                    <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla
                                        ...</p>
                                </div>
                            </li>

                            <li>
                                <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                    <a href="single.html">
                                        <img src="{% static 'assets/img/demo/small-proerty-2.jpg' %}">
                                    </a>
                                    <span class="blg-date">12-12-2016</span>

                                </div>
                                <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                    <h6><a href="single.html">Add news functions </a></h6>
                                    <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla
                                        ...</p>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer news-letter">
                        <h4>Stay in touch</h4>
                        <div class="footer-title-line"></div>
                        <p>Subscribe to our Newsletter to receive exclusive offers, the latest news and updates.</p>

                        <form>
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="E-mail ... ">
                                <span class="input-group-btn">
                                            <button class="btn btn-primary subscribe" type="button"><i
                                                    class="pe-7s-paper-plane pe-2x"></i></button>
                                        </span>
                            </div>
                            <!-- /input-group -->
                        </form>

                        <div class="social pull-right">
                            <ul>
                                {% if content.about_us.show_twitter_link %}
                                    <li><a href="{{ content.about_us.twitter_link }}"><i class="fa fa-twitter"></i></a>
                                    </li>

                                {% endif %}

                                {% if content.about_us.show_twitter_link %}
                                    <li><a href="{{ content.about_us.facebook_link }}"><i
                                            class="fa fa-facebook"></i></a>
                                    </li>

                                {% endif %}
                                {% if content.about_us.show_linked_link %}
                                    <li><a href="{{ content.about_us.linked_link }}"><i class="fa fa-linkedin"></i></a>
                                    </li>

                                {% endif %}

                                {% if content.about_us.show_youtube_link %}
                                    <li><a href="{{ content.about_us.youtube_link }}"><i class="fa fa-youtube"></i></a>
                                    </li>

                                {% endif %}

                                {% if content.about_us.show_instagram_link %}
                                    <li><a href="{{ content.about_us.instagram_link }}"><i class="fa fa-instagram"></i></a>
                                    </li>

                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-copy text-center">
        <div class="container">
            <div class="row">
                <div class="pull-left">
                    <span><a href="{% url 'home_page' %}">LA CASA © </a> , All rights reserved {% now "Y" %}  </span>
                </div>
                <div class="bottom-menu pull-right">
                    <ul>
                        <li><a href="{% url 'home_page' %}">Home</a></li>
                        <li><a href="#">Property</a></li>
                        <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                        <li><a href="{% url 'contact_us' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="display: block; border: none; position: fixed; inset: auto -8px 35px auto; width: 94px; height: 150px; opacity: 1; background: none transparent !important; margin: 0px; max-height: 100vh; max-width: 100vw; transform: translateY(0px); transition: none 0s ease 0s !important; visibility: visible; z-index: 999999999 !important; border-radius: 47px 30px 47px 47px;">

        <a href="https://api.whatsapp.com/send/?phone={{ content.about_us.phone_number }}&amp;text&amp;app_absent=0">
            <div class="whatsappshare" style="display: inline;"><img style="height: 60px; width: 60px"
                                                                     src="{% static 'assets/img/whatsapp.png' %}"></div>
        </a>
    </div>

</div>