{% load ui_operations %}
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                {% if content.header.title|is_list %}
                    {% for title in content.header.title %}
                        {% if forloop.last %}
                            <h1 class="page-title">{{ title }}</h1>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <h1 class="page-title">{{ content.header.title }}</h1>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'home_page' %}">
                        <i class="fa fa-home"></i> Home</a>
                </li>
                {% if content.header.title|is_list %}
                    {% for title in content.header.title %}
                        {% if forloop.last %}
                            <li class="breadcrumb-item active"> {{ title }}</li>
                        {% else %}
                            <li class="breadcrumb-item">
                                <a href="/{{ title.url }}">
                                    {{ title.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li class="breadcrumb-item active"> {{ content.header.title }}</li>
                {% endif %}
            </ol>
        </nav>
    </div>
</section>
